/* Green Theme for Battery Innovation Lab - Complete CSS */

/* ============================================
   GREEN COLOR PALETTE
   ============================================ */
:root {
    --primary-green: #2d5016;
    --secondary-green: #4a7c2c;
    --light-green: #6b9d3e;
    --accent-green: #88c057;
    --dark-green: #1a3309;
}

/* ============================================
   BASE STYLES
   ============================================ */
body {
	padding-top: 15px;
	padding-bottom: 0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	background-color: #f8f9fa;
}

/* ============================================
   CONTAINER
   ============================================ */
.container {
	margin: 0 auto;
	max-width: 1000px;
}

.container>hr {
	margin: 20px 0;
	border-top: 2px solid var(--light-green);
}

/* ============================================
   NAVIGATION BAR - GREEN THEME
   ============================================ */
.navbar .navbar-inner {
	padding: 0;
	background: var(--primary-green);
	background-image: linear-gradient(to bottom, var(--secondary-green), var(--primary-green));
	border: 1px solid var(--dark-green);
	border-radius: 4px;
}

.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}

.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}

.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, .25);
	border-right: 1px solid rgba(0, 0, 0, .2);
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.navbar .nav li a:hover,
.navbar .nav li a:focus {
	background-color: var(--light-green);
	color: #ffffff;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	background-color: var(--accent-green);
	color: #ffffff;
	box-shadow: inset 0 3px 8px rgba(0,0,0,0.2);
}

.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

body>.navbar {
	font-size: 13px
}

body>.navbar .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	float: right;
	font-weight: bold;
	color: var(--primary-green);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

body>.navbar .brand:hover {
	text-decoration: none;
	color: var(--accent-green);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .4);
}

/* ============================================
   SIDENAV
   ============================================ */
@media screen and (max-width: 768px) {
	.bs-docs-sidenav {
		display: none !important;
	}
}

.bs-docs-sidenav {
	width: 228px;
	margin: 30px 0 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.bs-docs-sidenav>li>a {
	display: block;
	width: 200px;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
	color: var(--secondary-green);
}

.bs-docs-sidenav>li>a.subhead {
	display: block;
	width: 168px;
	margin: 0 0 -1px;
	padding: 8px 30px;
	border: 1px solid #e5e5e5;
	font-size: 12px;
}

.bs-docs-sidenav>li:first-child>a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav>li:last-child>a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav>.active>a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	background-color: var(--secondary-green);
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}

.bs-docs-sidenav>li>a:hover {
	background-color: #f5f5f5;
	color: var(--accent-green);
}

.bs-docs-sidenav a:hover .icon-chevron-right {
	opacity: .5
}

.bs-docs-sidenav.affix {
	top: 10px
}

.bs-docs-sidenav.affix-bottom {
	position: absolute;
	top: auto;
	bottom: 270px;
}

/* ============================================
   RESPONSIVE
   ============================================ */
.affix {
	top: 0px
}

/* ============================================
   MEDIA/NEWS SECTION
   ============================================ */
#media {
	margin-top: 70px
}

#media .header {
	margin-left: 0;
	margin-bottom: 56px;
	margin-top: 30px;
}

#media .post_row {
	margin-left: 0;
	margin-bottom: 40px;
}

#media .lastpost_row {
	margin-bottom: 0
}

#media .post_row .post {
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 2px 0px #E0E0E0;
	width: 487px;
	height: 616px;
}

#media .post_row .last {
	margin-right: 0
}

#media .post_row .post .img {
	position: relative;
	text-align: center;
}

#media .post_row .post .img .date {
	background: var(--secondary-green);
	position: absolute;
	padding: 2px 5px;
	top: 0;
	left: 11px;
}

#media .post_row .post .img .date p {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	margin: 0;
}

#media .post_row .post .img img {
	height: 275px;
	width: 410px;
	object-fit: cover;
	object-position: center;
}

#media .post_row .post .text {
	margin: 18px auto 0;
	width: 83%;
}

#media .post_row .post .text h5 {
	margin: 0 0 8px 0;
	font-size: 20px;
	line-height: 23px;
}

#media .post_row .post .text h5 a {
	color: #333
}

#media .post_row .post .text span.date {
	color: #9F9F9F;
	display: block;
	margin-bottom: 12px;
	font-style: italic;
	font-size: 13px;
}

#media .post_row .post .text p {
	margin: 0;
	line-height: 21px;
	font-size: 14px;
}

#media .post_row .post .author_box {
	margin: 12px auto 20px;
	border-top: 1px solid #EDEDED;
	overflow: hidden;
	text-align: left;
	width: 85%;
	padding-top: 12px;
}

#media .post_row .post .author_box h6 {
	margin: 0 0 3px 0;
	font-size: 13px;
	line-height: 15px;
	font-style: italic;
	font-weight: normal;
	color: #B2B2B2;
}

#media .post_row .post .author_box p {
	color: #B2B2B2;
	font-style: italic;
	font-size: 13px;
	line-height: 14px;
	margin: 0;
}

#media .post_row .post .author_box img {
	float: right
}

#media .post_row .post a.plus_wrapper {
	width: 99%;
	text-align: center;
	background: #fff;
	display: none;
	border-radius: 0px 0px 4px 4px;
	padding: 6px 0px 2px;
	margin: 0 auto 1px;
}

#media .post_row .post a.plus_wrapper span {
	color: var(--secondary-green);
	font-size: 30px;
	font-weight: bold;
}

#media .post_row .post:hover a.plus_wrapper {
	display: block
}

#media .post_row .post:hover {
	box-shadow: 0px 1px 5px 1px rgba(45, 80, 22, 0.3);
}

#media .post_row .post:hover .text h5 a {
	color: var(--secondary-green);
}

/* ============================================
   MAP SECTION
   ============================================ */
.map .box_wrapp {
	position: absolute;
	margin: 15px auto;
	box-shadow: 0 0 7px 0 rgba(26, 26, 26, 0.4);
	padding: 30px 0 30px;
	background: white;
	border-radius: 4px;
	margin-top: 25px;
}

.map .box_wrapp .box_cont {
	margin: 30px auto;
	width: 76%;
}

/* ============================================
   SECTION HEADERS
   ============================================ */
.section-header {
	text-align: center;
	margin-bottom: 35px;
}

.section-header h1,
.title-text {
	font-weight: bold;
	font-size: 30px;
	margin: 12.5px 0;
	font-weight: 100;
	margin-bottom: 25px;
	line-height: 55px;
	color: var(--primary-green);
}

/* ============================================
   FEATURE ITEMS (NEWS CARDS)
   ============================================ */
.feature-item {
	margin-bottom: 30px;
}

.feature-item:hover {
	box-shadow: 0px 1px 5px 1px rgba(45, 80, 22, 0.3);
}

.feature-item img {
	margin-left: 15px;
	margin-right: 15px;
	max-width: 90%;
	height: 250px;
	width: 90%;
	object-fit: cover;
	object-position: center;
	border-radius: 6px;
	transition: transform 0.3s ease;
}

.feature-item img:hover {
	transform: scale(1.02);
}

.feature-item h5 {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--secondary-green);
}

.feature-item p {
	margin-left: 15px;
	margin-right: 15px;
}

.feature-heading {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.feature-heading a {
	color: var(--primary-green);
	font-weight: 600;
}

.feature-heading a:hover {
	text-decoration: none;
	color: var(--accent-green);
}

.feature-button {
	font-size: 16px;
	background-image: none;
	box-shadow: none;
	margin-bottom: 10px;
	background-color: var(--secondary-green);
	border-color: var(--primary-green);
	color: #ffffff;
}

.feature-button:hover {
	background-color: var(--accent-green);
	border-color: var(--secondary-green);
}

/* ============================================
   UTILITY CLASSES
   ============================================ */
.centered {
	text-align: center;
}

.subhead {
	text-align: left;
	border-bottom: 2px solid var(--light-green);
}

/* ============================================
   JUMBOTRON - GREEN THEME
   ============================================ */
.jumbotron {
	position: relative;
	padding: 45px 0px 35px 0px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	background: var(--primary-green);
	background: -moz-linear-gradient(135deg, var(--primary-green) 0%, var(--secondary-green) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, var(--primary-green)), color-stop(100%, var(--secondary-green)));
	background: -webkit-linear-gradient(135deg, var(--primary-green) 0%, var(--secondary-green) 100%);
	background: -o-linear-gradient(135deg, var(--primary-green) 0%, var(--secondary-green) 100%);
	background: -ms-linear-gradient(135deg, var(--primary-green) 0%, var(--secondary-green) 100%);
	background: linear-gradient(135deg, var(--primary-green) 0%, var(--secondary-green) 100%) repeat;
	-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
	border-radius: 6px;
}

.jumbotron:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .4;
}

.jumbotron h1 {
	font-weight: bold;
	margin-bottom: 10px;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.lead {
	margin-bottom: 0px;
	font-size: 21px;
	font-weight: 200;
	line-height: 15px;
	opacity: 0.9;
}

/* ============================================
   IMAGES
   ============================================ */
img.float-left {
	float: left;
	margin-top: 9px;
	margin-left: 0px;
	margin-right: 30px;
	margin-bottom: 12px;
}

img.float-right {
	float: right;
	margin-top: 9px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 30px;
}

img.publications-thumb {
	width: 142px;
	height: 188px;
	object-fit: cover;
	object-position: center;
}

/* ============================================
   CAROUSEL - FIXED DIMENSIONS
   ============================================ */
.carousel {
	margin-bottom: 20px;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

img.carousel-image {
	width: 100%;
	height: 500px;
	object-fit: cover;
	object-position: center;
}

.carousel-caption {
	background-color: rgba(45, 80, 22, 0.85);
	padding: 15px;
	border-radius: 4px;
}

.carousel-caption h4 {
	color: #ffffff;
	font-weight: bold;
}

.carousel-control {
	background-color: rgba(45, 80, 22, 0.5);
}

.carousel-control:hover {
	background-color: rgba(45, 80, 22, 0.7);
}

/* ============================================
   CAPTIONS & VIDEO
   ============================================ */
.caption {
	margin: 10px;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 60px;
	overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 93.5%;
	height: 93.5%;
}

.video-caption {
	margin: 10px;
}

/* ============================================
   ACCORDION
   ============================================ */
.accordion {
	margin-bottom: 20px;
	margin-right: 40px;
}

/* ============================================
   THUMBNAILS & SPONSORS
   ============================================ */
.thumbnail>img.sponsor {
	width: 212px;
	height: 150px;
	object-fit: contain;
	object-position: center;
}

ul.sponsors {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* ============================================
   PUBLICATIONS
   ============================================ */
li.publication {
	margin-bottom: 20px;
}

.page-header h3 {
	color: var(--primary-green);
}

.page-header h3 a {
	color: var(--primary-green);
}

.page-header h3 a:hover {
	text-decoration: none;
	color: var(--accent-green);
}

/* ============================================
   MAPS
   ============================================ */
iframe.map-frame {
	border: none;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	height: 550px;
	width: 100%;
}

/* ============================================
   LINKS - GREEN THEME
   ============================================ */
a {
	color: var(--secondary-green);
	transition: color 0.3s ease;
}

a:hover {
	color: var(--accent-green);
	text-decoration: none;
}

/* ============================================
   HEADINGS - GREEN THEME
   ============================================ */
h1, h2, h3, h4, h5, h6 {
	color: var(--primary-green);
}

h2.centered {
	text-align: center;
	font-weight: bold;
	margin: 20px 0;
}

/* ============================================
   DATE STYLING
   ============================================ */
.date {
	color: var(--secondary-green);
	font-weight: bold;
	font-style: italic;
}

/* ============================================
   HORIZONTAL RULES
   ============================================ */
hr {
	border-top: 2px solid var(--light-green);
	margin: 30px 0;
}

/* ============================================
   FOOTER - GREEN THEME
   ============================================ */
#footer {
	z-index: 10;
	margin-top: 50px;
	margin-bottom: 0px;
	padding-bottom: 25px;
	padding-top: 40px;
	border-top-width: 8px;
	border-top-style: solid;
	border-top-color: var(--primary-green);
	background: linear-gradient(135deg, var(--dark-green) 0%, var(--primary-green) 100%);
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
	color: #ffffff;
}

#footer h3 {
	font-size: 19px;
	text-transform: uppercase;
	color: var(--accent-green);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--light-green);
	line-height: 35px;
	margin-bottom: 20px;
	margin-top: 25px;
	font-weight: bold;
}

#footer a {
	color: var(--accent-green);
}

#footer a:hover {
	color: #ffffff;
}

#footer a img {
	margin-top: 40px;
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(255,255,255,0.1);
}

#footer p,
#footer address {
	color: #d0d0d0;
	font-size: 11px;
	line-height: 1.8;
}

/* ============================================
   BUTTONS
   ============================================ */
.btn-primary {
	background-color: var(--secondary-green);
	border-color: var(--primary-green);
	color: #ffffff;
}

.btn-primary:hover {
	background-color: var(--accent-green);
	border-color: var(--secondary-green);
}

/* ============================================
   RESPONSIVE ADJUSTMENTS
   ============================================ */
@media (max-width: 768px) {
	img.carousel-image {
		height: 300px;
	}
	
	.feature-item img {
		height: 200px;
	}
	
	.jumbotron {
		padding: 20px 0;
	}
	
	.jumbotron h1 {
		font-size: 28px;
	}
}

@media (max-width: 480px) {
	img.carousel-image {
		height: 200px;
	}
	
	.feature-item img {
		height: 150px;
	}
}
